* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

header h1 {
    font-size: 2em;
    margin: 10px 0;
}

header h2 {
    font-size: 1.2em;
    color: #ffffff;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    margin-bottom: 5px;
}

.job h4 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.icon{
    height: 25px;
    width: 25px;
}


.contact-container {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    
}


#pie{
    display: flex;
    justify-content: end;
}


.social-card {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: rgb(255, 255, 255);
    padding: 20px 25px;
    border-radius: 14px;
  }
  .Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
  }
  
  .BG {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: 1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
    font-size: 0px;
  }
  .github .BG {
    background: #181818;
  }
  .linkdin .BG {
    background: #0077b5;
  }
  .email .BG {
    background: #f6eeee64; /* Color de fondo del botón de correo electrónico */
  }

  .Btn:hover .BG {
    transform: scale(1.5);
    /* transform-origin: bottom; */
    font-size: 20px;
    color: white;
  }
  
  .Btn:hover .svgContainer {
    border: 1px solid rgba(216, 216, 216, 0.466);
    background-color: rgba(209, 209, 209, 0.466);
    backdrop-filter: blur(4px);
  }

  #static-info-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

#unbicacion{
    display: flex;
    
}

#phone{
    display: flex;

}

#card {
    justify-content: center;
    display: flex;
}

.linkedin .BG {
    background: #0077B5; /* Color de fondo del botón de LinkedIn */
}